<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>IKEA Trådfri pærer</h1>

<table>
    <tr>
        <th>bulb_id</th>
        <th>hardware_type_number</th>
        <th>software_version</th>
        <th>status_bool</th>
        <th>nominal_consumption</th>
        <th>actual_consumption</th>
        <th>light_intensity</th>
        <th>color</th>
    </tr>
    <tr>
        <td>4987</td>
        <td>23</td>
        <td>1.1</td>
        <td>1</td>
        <td>0.02</td>
        <td>0.03</td>
        <td>75</td>
        <td>rød</td>
    </tr>
    <tr>
        <td>8464</td>
        <td>34</td>
        <td>2.5</td>
        <td>0</td>
        <td>0.05</td>
        <td>0.065</td>
        <td></td>
        <td></td>
    </tr>
</table>

</body>
</html>
